rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /plixora_sales/{doc} {
      allow read, write: if request.auth != null;
    }
    match /contacts/{doc} {
      allow read, write: if request.auth != null;
    }
    match /netflix_accounts/{doc} {
      allow read, write: if request.auth != null;
    }
    match /group_accounts/{doc} {
      allow read, write: if request.auth != null;
    }
    match /plixora_custom_plans/{doc} {
      allow read, write: if request.auth != null;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
